<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.abcConnectionString" connectionString="Data Source=DESKTOP-S5N7RPU\SQLEXPRESS;Initial Catalog=abc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>